# Fix values
set terminal postscript eps monochrome rounded enhanced font "Helvetica,22"
set key right top
set yrange [0:*]
prefix = 'GeneratedMean'
lineWidth = 6
set border lw lineWidth/2


# Check how many x values there are
file = prefix.'ChunkCompletion.csv'
path = dir.file
stats path using 1 nooutput
t_0 = 600
max_x_range = ceil(STATS_max/t_0) * t_0



# For bandwidth
set ytics 4096
set xrange[0:max_x_range]
set xtics ("2*T_{0}" 2*t_0, "4*T_{0}" 4 * t_0, "6*T_{0}" 6 * t_0)

set yrange[0:1024*10]
file = prefix.'CurrentUploadBandwidth.csv'
path = dir.file
set ylabel "Upload bandwidth [bytes/seconds]"
set xlabel "Time [seconds]"
set output './img/'.file.'.eps'
plot path using 1:2 with lines lw lineWidth lt 1 title columnheader

file = prefix.'CurrentDownloadBandwidth.csv'
path = dir.file
set ylabel "Download bandwidth [bytes/seconds]"
set xlabel "Time [seconds]"
set output './img/'.file.'.eps'
plot path using 1:2 with lines lw lineWidth lt 1 title columnheader

set yrange[0:1024*22]
file = prefix.'CurrentSuperSeederUploadBandwidth.csv'
path = dir.file
set ylabel "Upload bandwidth [bytes/seconds]"
set xlabel "Time [seconds]"
set output './img/'.file.'.eps'
plot path using 1:2 with lines lw lineWidth lt 1 title columnheader




# For completion
set key left top
set yrange[0:1.1]
set ytics autofreq
set xtics ("2*T_{0}" 2*t_0, "4*T_{0}" 4 * t_0, "6*T_{0}" 6 * t_0)

file = prefix.'ChunkCompletion.csv'
path = dir.file
set ylabel "Completion"
set xlabel "Time [seconds]"
set output './img/'.file.'.eps'
plot path using 1:2 with lines lw lineWidth lt 1 title columnheader


# For completion
set ytics ("2*T_{0}" 2*t_0, "4*T_{0}" 4 * t_0, "6*T_{0}" 6 * t_0)
set yrange[0:7*t_0]
set xrange [0:70]
set xtics 16

file = prefix.'SortedChunkCompletion.csv'
path = dir.file
set ylabel "Time [seconds]"
set xlabel "Sorted peers"
set output './img/'.file.'.eps'
plot path using 1:2 with lines lw lineWidth lt 1 title columnheader