# Created by .gitignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
out/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/

# Build idea
build/

# Do not upload the workspace layout
# It changes quite often
.idea/workspace.xml

# DOOO allow the wrapper
!gradle/wrapper/*

# Ignore tmp files
*~
*odt#

# Ignore svn folders
.svn

# Ignore python stuff
__pycache__/
tools/python/venv/
tools/python/scenarios/results/*.csv

# Ignore gnuplot stuff
tools/gnuplot/img/
