# Created by .gitignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/

# Build idea
build/

# Do not upload the workspace layout
# It changes quite often
.idea/workspace.xml

# The gradle wrapper can be downloaded with ./gradlew wrapper
gradle/