<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DataBase content</title>
</head>
<body>


<h1>Count: {{size}}</h1>
<ul>
    {{#each this}}
    <li>
        <h2>Name : {{getKey}}</h2>

        <h2><a href="{{streamUrl}}{{getKey}}">Stream</a></h2>
        <ul>
            {{#each getValue}}
            <li>
                <p>Stream ID : {{getId}}</p>

                <p>Name : {{getName}}</p>

                <p>Description : {{getDescription}}</p>

                <p>Hash : {{getHash}}</p>
            </li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>
</body>
</html>